html {
    height: 100%;
}

body {
    background-color: #222222;
    color: #e0e0e0;
    font-family: Open sans, arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
}

header, footer {
    background-color: #d8f5ff;
    padding: 1rem;
    color: #222;
}

.nav ul {
    list-style: none;
}

pre {
    background: #444;
    border-radius: 1rem;
    border: 2px solid #fff;
}

form {
    background-color: #d8f5ff;
    padding: 1rem;
    color: #222;
}

fieldset {
    padding: 1rem;
}

a {
    color: #94fef1;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #94fef1;
    text-decoration: underline;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding: 1rem;
}

.bg-light-gray {
    background: #cccccc;
}

/* Flex styles */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.col-1-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.grow {
    flex: 1 0 auto;
}

.flex-column {
    flex-direction: column;
}

/* End Flex styles */
.offset-legend {
    margin-left: 150px;
}

.legend-illusion {
    width: 150px;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}