body{
    background-color: #222222;
    color: #FEFEFE;
    font-family: Open sans, arial, Helvetica, sans-serif;
    font-size: 14px;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

.nav ul {
    list-style: none;
}

form {
    background-color: #FFF;
    padding: 1rem;
}

/* Flex styles */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.col-1-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

/* End Flex styles */

.offset-legend {
    margin-left: 150px;
}

.legend-illusion {
    width: 150px;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}